/*.nav-bar{
    width: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    text-decoration: none;
    font-size: 100px;
}

.option{
    margin: 0;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

body{
    background-color: black;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }*/

  body{
    background-color: rgb(72, 104, 201);
      margin: 0%;

  }
  
  .pixels-text{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: darkslategray;
    text-align: center;
    top: 70%;
    left: 0;
    right: 0;

  }

.container{
    
    width: 90%;
    min-height: 100px;/*altura minima evita que se corte con el hidden*/
    overflow: hidden;/*todo lo que sobrepasa a la figura se va a cortar*/
    background-color:rgb(64, 92, 177);
    margin: 0 auto;
    
}
.section{
    
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    background-color: black;
    margin-left: 10px;
}

.section1{
    width: 70%;
    float: left;
    min-height: 306px;
    overflow:hidden;
    background-color: rgba(24, 128, 123, 0.808);
    font-size: 30px;
}

.section2{
    width: 30%;
    float: left;
    min-height: 306px;
    overflow: hidden;
    background-color: steelblue;
    font-size: 30px;
}
.section-container, .text-container{
    width: 100%;
    min-height: 75px;

}


  @media only screen and (max-width:1400px){
      body{
          background-color: cornflowerblue;
         
      }
      .pixels-text{
        color:teal;
        font-size: 40px;
        
      }
      
  }

  @media only screen and (max-width:1000px){
        body{
            background-color:darkcyan ;
        }
        .pixels-text{
            color:rgb(1, 116, 116);
            font-size: 50px;
          }
    }
    
    @media only screen and (max-width:800px){
        body{
            background-color: teal;
        }
        .pixels-text{
            color:cornflowerblue;
            font-size: 60px;
          }
    }
        @media only screen and (max-width:600px){
            body{
                background-color: darkslategray;
            }
            .pixels-text{
                color:rgb(72, 104, 201);
                font-size: 70px;
              }
              .section{
                  float: none;
                  margin-left: 0%;
              }
              .section:hover{
                  background-color: rgb(72, 104, 201);
                  color: black;
              }
              .container{
                  width: 100%;
              }
              .section1{
                  font-size: 30px;
              }
            
}
